.nav-link{
    color: #510B6F;
    font-size: 20pt;
}
.form1{
    color: #510B6F;
    font-size: 20pt;
    border-color: #510B6F;
    border-radius: 5px;
    margin: 7px 7px 7px 7px;
}
.container-product{
    width: 350px;
    height: 450px;
    border: 2px solid;
    padding: 8px 12px;
    margin: 7px 7px 7px 7px;
 }
.b1{
    color: #510B6F;
    font-size: 20pt;
    border-color: #510B6F;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 7px 7px 7px 7px;

}
.b1-block{
    color: #ffffff;
    font-size: 20pt;
    border-color: #510B6F;
    background-color: #510B6F;
    border-radius: 5px;
    margin: 7px 7px 7px 7px;
}
.picture-right{
    float: right;
    margin: 7px 7px 7px 7px;
   }
.purple-text{
    color: #510B6F;
    margin: 7px 7px 7px 7px;
}
.back{
    background-color: #D9F5FC;
}
.orange-text{
    color: #ff9000;
    margin: 7px 7px 7px 7px;
}
.big-text{
    color: #510B6F;
    font-size: 40pt;
}
.big-container{
    border: 5px solid #E2081B;
    background-color: #9CEB6F;
    padding: 8px 12px;
    margin: 7px 7px 7px 7px;
}
.container-photo{
    width: 304px;
    height: 204px;
    border: 2px solid #510B6F;
}
.list-group-item1{
    color: #510B6F;
    margin: 7px 7px 7px 7px;
}