.nav-link{
    color: #510B6F;
    font-size: 20pt;
}
.form1{
    color: #510B6F;
    font-size: 20pt;
    border-color: #510B6F;
    background-color: #ffffff;
    border-radius: 5px;
}
.b1{
    color: #510B6F;
    font-size: 20pt;
    border-color: #510B6F;
    background-color: #ffffff;
    border-radius: 5px;
}