{% extends 'base.html' %}

{% block content%}
<h1 class="orange-text">Всё о магазине всевозможных волшебных вредилок</h1>
<p class="purple-text">
    <img src="/static/img/weasleys.jpg" alt="здесь должна была быть картинка, но не нашлась" width="350" class="picture-right"/>
    Мы рады видеть вас в нашем магазине! Основная специализация магазина — волшебные шутки и приколы. Однако этим он не
    ограничивается.
    Во «Всевозможных вредилках» можно купить и любовные напитки, и «Патентованные чары», и даже карликовых пушистиков.
    Есть тут и вполне серьёзный отдел, продающий вещи, наделённые защитной магией: шляпы- мантии- и перчатки-щиты,
    Порошок мгновенной тьмы,
    Отвлекающие обманки... Единственное, что объединяет все эти разнообразные товары — неизменно высокое качество и
    потрясающий уровень магии.
    К тому же, многие вещи — наши эксклюзивные разработки, нигде больше вы не купите ничего подобного.
    И ещё одна отличительная черта товаров «от Уизли»: даже к самым, казалось бы, страшным вещам мы подходим с юмором.
</p>
<h4 class="purple-text">Почему так всех волнует</h4>
<h4 class="purple-text">Тот-Кого-Нельзя-Называть?</h4>
<h4 class="purple-text">Лучше пусть народ волнует</h4>
<h4 class="purple-text">Тот-Кто-Умеет-В-Кишках-Застревать!</h4>
<h4 class="purple-text">Он хитёр, он шустёр!</h4>
<h4 class="purple-text">От него с давних пор</h4>
<h4 class="purple-text">У всей страны запор! </h4>
<h3 class="orange-text">История</h3>
<p class="purple-text">
    Тут скоро появится история нашего сайта)
</p>


{% endblock%}