{% extends 'base.html' %}

{% block content%}
<h1 class="orange-text">{{ title }}</h1>
<ul class="nav justify-content-center">
    {% for item in category%}
    <li><a href=/catalog/{{ item[1] }} class="nav-link">{{item[0]}}</a></li>
    {% endfor %}
</ul>
<div class="row">
    {% for item in products%}
    <div class="col">
        <div class="container1">
            {% if item.photos %}
            <a><img width="300" height="200" src={{ url_for('static', filename=item.photos.split(';')[0])}} alt="здесь
                должна была быть картинка, но не нашлась"></a>
            {% endif %}
            <li class="nav"><a href=product/{{ item.id }} class="nav-link"><h3>{{item.title}}</h3></a></li>
            <h4 class="purple-text">Цена: {{item.cost}} руб.</h4>
            {% if current_user.is_authenticated %}
            <li class="nav"><a href=/buy/{{ item.id }} class="nav-link">В корзину</a></li>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}