{% extends 'base.html' %}

{% block content%}
<h1 class="orange-text">{{ product.title }}</h1>
<form class="form1" action="" method="post">
    {{ form.hidden_tag() }}
    <div class="container-photo">
        {% if product.photos %}
        <a><img width="300" height="200" src={{ url_for('static', filename=product.photos.split(';')[0])}}></a>
        {% else %}
        <p class="purple-text">Здесь должна была быть картинка, но не нашлась:)</p>
        {% endif %}
    </div>
    <li class="purple-text"><h3>{{ product.title }}</h3></li>
    <h4 class="purple-text">Цена: {{ product.cost }} руб.</h4>
    <p class="purple-text">{{ product.description }}</p>
    {% if current_user.is_authenticated %}
    <p>{{ form.submit(type="submit", class="b1") }}</p>
    {% else %}
    <p class="purple-text">Войдите, чтобы заказать</p>
    {% endif %}
</form>
{% endblock %}