{% extends 'base.html' %}

{% block content%}
<h1 class="orange-text">{{ product.title }}</h1>
{% if product.photos %}
    <a><img width="300" height="200" src={{ url_for('static', filename=product.photos.split(';')[0])}} alt="здесь
        должна была быть картинка, но не нашлась"></a>
    {% endif %}
    <li class="purple-text"><h3>{{ product.title }}</h3></li>
    <h4 class="purple-text">Цена: {{ product.cost }} руб.</h4>
    <p class="purple-text">{{ product.description }}</p>
    {% if current_user.is_authenticated %}
    <li class="nav"><a href=/buy/{{ product.id }} class="nav-link">В корзину</a></li>
    {% endif %}
{% endblock%}